documents required env vars
safe for GitHub
helps future deployment
helps future developers/admins

#backend/.env.example
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

SECRET_KEY=

DEBUG=True

ALLOWED_HOSTS=localhost,127.0.0.1

FRONTEND_URL=http://localhost:3000

CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

CSRF_TRUSTED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
EMAIL_PORT=587