.notificationItem {
  transition: all 0.3s ease;
  animation: fadeIn 0.4s ease;
}

.unread {
  background: #eef4ff;
  border-left: 4px solid #386fa4;
}

.leftSection {
  display: flex;
  gap: 14px;
}

.titleRow {
  display: flex;
  align-items: center;
  gap: 8px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}