/* Remove default padding */
:global(.ant-picker-calendar-date) {
  padding: 0 !important;
  margin: 0 !important;
  height: 110px !important;
}

:global(.ant-picker-calendar-date-content) {
  margin: 0 !important;
  height: 100% !important;
}

:global(.ant-picker-cell-inner) {
  padding: 0 !important;
  height: 100% !important;
  background: transparent !important;
}

:global(.ant-picker-cell-selected .ant-picker-cell-inner) {
  background: transparent !important;
}

:global(.ant-picker-calendar-date-today) {
  border: none !important;
}

:global(.ant-picker-content td) {
  border: 1px solid #d9d9d9;
}

.fullCellWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  transition: 0.2s ease;
}

.dateNumber {
  position: absolute;
  top: 8px;
  left: 10px;
  font-weight: 600;
}
/* Hide default AntD date number */
:global(.ant-picker-calendar-date-value) {
  display: none !important;
}
