.layout {
  min-height: 100vh;
}

.content {
  padding: 24px;
  background: #f7f9fb;
}

.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.leftControls {
  display: flex;
  gap: 10px;
  align-items: center;
}

.searchInput {
  width: 260px;
}

.filterBtn {
  border-radius: 6px;
}

.addBtn {
  border-radius: 6px;
  padding: 0 16px;
  font-weight: 500;
  background-color: #386FA4;
}
.addBtn:hover {
  background-color: #2f5f8d !important;   /* darker shade */
  border-color: #2f5f8d !important;
}


/* Table styling */
.table {
  background: #ffffff;
  padding: 16px;
  border-radius: 10px;
}
.rowLink {
  color: #222;
  font-weight: 500;
}

:global(.ant-table-tbody > tr:hover > td) {
  background: #f4f8ff !important;
}

:global(.ant-table-cell) {
  vertical-align: top;
}
